/* UBC scenario: modified CMU  */

empire Federation F;
empire Romulan R;
empire Klingon    K;
empire Orion O;


global fast-destruct ;

default ship 
	       teleport-range= 8000
	       teleport-cost = 1500 
               recharge      = 45 
               turns         = 27000
               accint        = 250
               decint        = 250
               phaser-damage = 30
               ph-pulses     = 2
               phaser-range  = 6000
               torp-damage   = 20
               torp-cost     = 200
               torp-speed    = 160
               det-cost      = 75 
               shield-repair = 21
               warp-cost     = 6
               cloak-cost    = 40
               max-damage    = 180
               shield-max    = 210
               reload        = 3
               burst         = 2
               weapon-cool   = 3
               engine-cool   = 20
               max-speed     = 90
               max-armies    = 10
               max-fuel      = 10000
               cruise        = 50
               battle        = 50
               bturn         = 40
               flee          = 60
               cloaked       = 50
               refresh       = 40
               srsensor-fail = 200
               ;




/* Define all the planets. */

default planet armies=30;

planet "Earth"      Federation  x=20000 y=80000 home fuel repair;
planet "Sasus"      Federation  x=10000 y=60000;
planet "Candeleron" Federation  x=25000 y=60000;
planet "Beta III"   Federation  x=44000 y=81000;
planet "Janus"      Federation  x=33000 y=55000;
planet "Deneb VI"   Federation  x=30000 y=90000;
planet "Ceti IV"    Federation  x=45000 y=66000;
planet "Altar"      Federation  x=11000 y=75000;
planet "Dekar"      Federation  x=8000 y=93000;
planet "Daltus"     Federation  x=32000 y=74000;
planet "Romulus"    Romulan  x=20000 y=20000 home fuel repair;
planet "Ethen"      Romulan  x=45000  y=7000;
planet "Amur"       Romulan  x=4000 y=12000;
planet "Remus"      Romulan  x=42000 y=44000;
planet "Bal"        Romulan  x=13000 y=45000;
planet "Tahndar"    Romulan  x=28000  y=8000;
planet "Dact"       Romulan  x=28000 y=23000;
planet "Sirius II"  Romulan  x=40000 y=25000;
planet "Rakhir"     Romulan  x=25000 y=44000;
planet "Rus"        Romulan  x=8000 y=29000;
planet "Klin"       Klingon  x=80000 y=20000 home fuel repair;
planet "Malatrakir" Klingon  x=70000 y=40000;
planet "Amakron"    Klingon  x=60000 y=10000;
planet "Laltir"     Klingon  x=54000 y=40000;
planet "Khartair"   Klingon  x=93000  y=8000;
planet "Monpur III" Klingon  x=90000 y=37000;
planet "Sectus"     Klingon  x=69000 y=31000;
planet "Makus"      Klingon  x=83000 y=48000;
planet "Gendus"     Klingon  x=73000  y=5000;
planet "Jakar"      Klingon  x=54000 y=21000;
planet "Orion"      Orion  x=80000 y=80000 home fuel repair;
planet "Amterion"   Orion  x=92000 y=59000;
planet "Lumecis"    Orion  x=65000 y=55000;
planet "Bitar V"    Orion  x=52000 y=60000;
planet "Prastan"    Orion  x=72000 y=69000;
planet "Sorlen"     Orion  x=64000 y=80000;
planet "Zetus"      Orion  x=56000 y=89000;
planet "Jih"        Orion  x=91000 y=94000;
planet "Markus II"  Orion  x=70000 y=93000;
planet "Oren"       Orion  x=85000 y=70000;
