
/* UBC many-empire scenario */

empire Goofs      GOF robotname = "Generator"                    ;
empire Fools      FOL robotname = "Flipper"                      ;
empire Morons     MOR robotname = "Maytag"                       ;
empire Twits      TWT robotname = "Tweezer"                      ;
empire Bogons     BOG robotname = "Boxleiter" icon  = "f14.b"    ; 
empire Dolts      DOL robotname = "Dribble"   icon  = "hawk.b"   ;
empire Jerks      JRK robotname = "Jones"     icon  = "mike.b"   ;
empire Idiots     IDI robotname = "Imbecile"  icon  = "idiot.b"  ;

/*
 *  Global parameters
 */

global
       fast-destruct
       cool-penalty     = 1.5
       planet-fire-dist = 900
       ;
/*
 * Define ship parameters.
 */

default ship
               teleport-range= 50000
               teleport-cost = 10
               recharge      = 45 
               turns         = 27000
               accint        = 250
               decint        = 250
               phaser-damage = 30
               phaser-cost   = 240 
               ph-pulses     = 2
               phaser-range  = 6000
               torp-damage   = 20
               torp-cost     = 200
               torp-speed    = 160
               det-cost      = 75 
               shield-repair = 21
               warp-cost     = 6
               cloak-cost    = 40
               max-damage    = 180
               shield-max    = 200
               reload        = 3
               burst         = 2
               weapon-cool   = 3
               engine-cool   = 20
               max-speed     = 90
               max-armies    = 10
               max-fuel      = 10000
               cruise        = 50
               battle        = 50
               bturn         = 40
               flee          = 60
               cloaked       = 50
               refresh       = 40
               srsensor-fail = 500
               ;


/* Define all the planets. */

default planet armies=10;

/* 1st row */

planet "Earth"      Goofs  x=7000  y=7000 home fuel repair;
planet "Sasus"      Goofs  x=27000 y=7000;
planet "Candeleron" Goofs  x=17000 y=17000;
planet "Beta III"   Goofs  x=7000  y=27000;
planet "Janus"      Goofs  x=27000 y=27000;

planet "Deneb VI"   Jerks  x=40000 y=7000;
planet "Ceti IV"    Jerks  x=60000 y=7000;
planet "Altar"      Jerks  x=50000 y=17000;
planet "Dekar"      Jerks  x=40000 y=27000;
planet "Daltus"     Jerks  x=60000 y=27000;

planet "Romulus"    Dolts  x=73000 y=7000 home fuel repair;
planet "Ethen"      Dolts  x=93000 y=7000;
planet "Amur"       Dolts  x=83000 y=17000;
planet "Remus"      Dolts  x=73000 y=27000;
planet "Bal"        Dolts  x=93000 y=27000;

/* 2nd row */

planet "Tahndar"    Fools  x=7000  y=40000 home fuel repair;
planet "Dact"       Fools  x=27000 y=40000;
planet "Sirius II"  Fools  x=17000 y=50000;
planet "Rakhir"     Fools  x=7000  y=60000;
planet "Rus"        Fools  x=27000 y=60000;

planet "Klin"       Morons  x=73000 y=40000 home fuel repair;
planet "Malatrakir" Morons  x=93000 y=40000;
planet "Amakron"    Morons  x=83000 y=50000;
planet "Laltir"     Morons  x=73000 y=60000;
planet "Khartair"   Morons  x=93000 y=60000;

/* 3rd row */

planet "Twity"      Twits  x=7000  y=73000 home fuel repair;
planet "Amterion"   Twits  x=27000 y=73000;
planet "Lumecis"    Twits  x=17000 y=83000;
planet "Bitar V"    Twits  x=7000  y=93000;
planet "Prastan"    Twits  x=27000 y=93000;

planet "Sorlen"     Bogons  x=40000 y=73000 home fuel repair;
planet "Zetus"      Bogons  x=60000 y=73000;
planet "Jih"        Bogons  x=50000 y=83000;
planet "Markus II"  Bogons  x=40000 y=93000;
planet "Oren"       Bogons  x=60000 y=93000;

planet "Monpur III" Idiots  x=73000 y=73000;
planet "Sectus"     Idiots  x=93000 y=73000;
planet "Makus"      Idiots  x=83000 y=83000;
planet "Gendus"     Idiots  x=73000 y=93000;
planet "Jakar"      Idiots  x=93000 y=93000;


