/**/#
/**/# %Z%%M%	%I%	%E%
/**/#
/**/#
/**/# Global XView library definitions
/**/#
/**/# When anything is changed here, you must remake all the Makefiles
/**/# from the Imakefiles.
/**/#
/**/# LIBRARY_DEST is the destination directory for the XView libraries
/**/# HEADER_DEST is the destination directory for the XView header files
/**/# CDEBUGFLAGS should be set to -DPRE_R4_ICCCM if you're running a
/**/#	pre-release-4 version of libX11.a. You might also want to add 
/**/#	a -O to CDEBUGFLAGS if you want to build an optimized library.
/**/#
/**/# If your X11 "mkfontdir" and/or "bdftosnf" programs are not 
/**/# in the standard place (within the X11 source tree), define their 
/**/# locations as MKFONTDIR and FC, respectively.

LIBRARY_DEST=/usr/local/xview/lib
HEADER_DEST=/usr/local/xview/include
FONTINSTDIR=/usr/lib/X11/fonts/xview
BINDIR=/usr/bin/X11
HELP_DEST=$(LIBRARY_DEST)/help
MAN_DEST=/usr/local/xview/man

/**/# Use PRE_R4_ICCCM only if you are compiling with R3.
/**/#CDEBUGFLAGS=-DPRE_R4_ICCCM
CDEBUGFLAGS=

FCFLAGS= 

RANLIBINSTFLAGS= 
AR=ar clq

OPENLOOK_FONTINSTDIR=$(FONTINSTDIR)/misc
TEXTFONT_FONTINSTDIR=$(FONTINSTDIR)/75dpi

/**/# DEC3100 Config options
#ifdef ultrix
INSTALL=/usr/bin/install
#endif

/**/# DEC3100 Config options
#ifdef ultrix
INSTALL=/usr/bin/install
#endif

/**/# 
/**/# Imake rules for XView
/**/# *** DO NOT CHANGE ANYTHING BELOW THIS LINE! ***
/**/# 

#define SubdirNormalLibTarget(libname, objlist)				@@\
AllTarget(lib/**/libname.a)						@@\
									@@\
lib/**/libname.a: objlist						@@\
	$(AR) ../$@ objlist

#define SubdirProfiledLibTarget(libname, objlist)			@@\
AllTarget(lib/**/libname/**/_p.a)					@@\
									@@\
lib/**/libname/**/_p.a: objlist						@@\
	cd profiled; $(AR) ../../$@ objlist


#define SubdirDebuggedLibTarget(libname, objlist)			@@\
AllTarget(lib/**/libname/**/_d.a)					@@\
									@@\
lib/**/libname/**/_d.a: objlist						@@\
	cd debugger; $(AR) ../../$@ objlist

#define SubdirCompoundLibTarget(libname, objlist)			@@\
AllTarget(lib/**/libname.a)						@@\
									@@\
lib/**/libname.a: objlist						@@\
	$(AR) ../../$@ objlist

#define MakeAnythingSubdirs(name,dirs)					@@\
name::									@@\
	@case '${MFLAGS}' in *[ik]*) set +e;; esac; \			@@\
	for i in dirs ;\						@@\
	do \								@@\
		(cd $$i ; echo "making name in $$i"; \			@@\
			$(MAKE) PassCDebugFlags $(MFLAGS) name); \	@@\
	done

/*
 * Install a library without first trying to build it
 */
#define	InstallLibraryNoBuild(libname,dest)				@@\
install:: 								@@\
	-$(INSTALL) -c $(INSTLIBFLAGS) lib/**/libname.a dest		@@\
	-$(RANLIB) $(RANLIBINSTFLAGS) dest/lib/**/libname.a
